* {
     padding: 0;
     margin: 0;
     list-style: none;
     border: 0;
     text-decoration: none;
     box-sizing: border-box;
}
body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     transition: all 500ms;
    }

#content-main {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    margin-top: 1rem 0 3rem 0;
    border-bottom: 1px solid #000;
}
h1 {
   font-size: 16pt;
   text-align: center;
}
section h2 {
    font-size: 14pt;
}
#warning {
    margin-top: 1rem;
    border: 1px solid red;
}
#csv-json-content {
     display: flex;
     flex-direction: row;
     justify-content: center;
}
.inputs {
    display: flex;
    flex-direction: column;
}
 #csv, #json {
    height: 170px;
    border: 1px solid #ccc;
  }
  #clear-button {
    margin: 1rem;
    height: 2rem;
    align-self: center;
}
  #buttons {
     margin-left: 10.5rem;
  }
  #buttons button, #clear-button {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #5877ff;
    border-color: #5659f1;
    margin-top: .1rem;
}
  #buttons button:hover, #clear-button:hover{
    background-color: #5877ffda;
    border-color: #474ae9;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    #content-main {
         position: relative;
         padding: 0.3rem;
    }
    header {
         margin-top: 0.1rem;
    }
    #csv-json-content {
        margin-top: 0.2rem;
        display: flex;
        flex-direction: column;
   }
   div #csv, #json {
     height: 70px;
   }
   #clear-button {
     position: absolute;
     bottom: -0.7rem;
     left: -0.5rem;
   }
   #clear-button {
    height: 28px;
 }
   #buttons {
      margin-left: 58px;
   }
    /*Mudar a configuração do tamanho dos botoes*/
}

@media screen and (min-width: 480px) and (max-width: 768px) { 
    header {
        width: 97%;
        margin-top: 0.2rem 0 0 .4rem;
    }
    #content-main {
         margin-top: 0.1rem;
    }
   #csv-json-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: .4rem;
   }
   #csv-content, #json-content {
    width: 49%;
    }
   div #csv, #json {
    height: 150px;
  }
  #clear-button {
    height: 28px;
}
  #clear-button, #buttons {
    position: absolute;
    top: 15.1rem;
    left: 0;
  }
  #buttons {
    left: -6.6rem;
  }
}