* {
     padding: 0;
     margin: 0;
     list-style: none;
     border: 0;
     text-decoration: none;
     box-sizing: border-box;
}
body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

#content-main {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    margin-top: 1rem;
    background-color: red;
}
h1 {
     
}
#warning {
    margin-top: 2rem;
}
#csv-json-content {
     display: flex;
     flex-direction: row;
}

/* #csv-content, #json-content {
    display: flex;
    flex-direction: column;
} */
.inputs {
    display: flex;
    flex-direction: column;
}